//* Settings *//
    // Imports
    // -------------------------
    @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');

    // Colors
    // -------------------------
    $white:#ffffff;
    $darkgray: #383d43;
    $lightblue: #75CFE7;
    $blue: #2e92cd;
    $darkblue: #1F6187;
    $grayblue: #626796;
    $purple: #8864AA;
    $gray: #99AABB;
    $salmon: #FACE93;
    $grayTransBox: rgba(56, 61, 67, .4);
    // Typography
    // -------------------------
    
    $font-family-header:  'Fjalla One', sans-serif;
    $font-family-body: 'Noto Sans', sans-serif;


//* Base Styles *//
    * { 
        margin: 0; 
        padding: 0; 
        line-height:1; 
        box-sizing: border-box;
    }
    :root {
        font-size: 100%
      }
      
    body {
        font-size: 2rem;
        font-family: $font-family-body;
        color: $white;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-header;
    }
    h1 {
        font-size: 6rem; 
    }

//* Page Styles *//
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-image: url("https://hopeeternal.github.io/AutoLoanCalculator/dist/assets/img/ford_background.png");
        background-repeat: no-repeat, no-repeat;
        background-color: $darkblue;
        background-position: right bottom;
        background-size: 90% auto;   
    }
      
    main {

        .pageMain {
            flex-grow: 1;
            .userInput, .calculations {
                flex: 1;
                display: flex;
                justify-content: center;
            }
            .calculations {
                background-color: $grayTransBox;
                margin: 1rem 6rem;
                
                h2, h3 {
                    line-height: 5rem;
                    text-align: center;
                }
                h3 {
                    color: $salmon;
                    font-size: 5rem;
                }
                button {
                    font-family: $font-family-body;
                    font-size: 1.5rem;
                    padding: 1rem;
                    border-radius: 0.5em;
                    background: $purple;
                    color: $white;
                    border: none;
                    right: 0px;
                    margin: .75rem auto;
                    width: 100%;
                }
            }
            .userInput {
                .userInputForm{
                    padding: 2rem;
                    border: 5px solid $grayTransBox;
                    
                    label {
                        display:block;
                        margin-bottom: 10px;
                        padding: 0;
                        font-size: 1.5rem;
                    }
                    input, select, textarea {
                        font-size: 1.5rem;
                        color: $gray;
                        margin-top: .75rem;
                        padding:.5rem;
                        border: none;
                        background-color: $grayTransBox;
                    }
                    .percentSign, .dollarSign, .monthsLabel, .yearsLabel {
                        font-size: 1.25rem;
                        color: $lightblue;
                        margin: auto .5rem;
                    }
                    
                    button:hover {
                        background: #ccc;
                        cursor: pointer;
                    }
                    .loanDuration input {
                        width: 4rem;

                    }
                    #interestRate {
                        width: 5rem;
                    }
            
                }      
            }
            
        }
    
        .amortization{
            padding: 3rem;
            flex: 1;
        }
    }
    
    
    @media(min-width: 1000px){
        .pageHeader, .pageMain, .pageFooter {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .pageHeader, .pageMain .calculations, .pageMain .userInput, .pageFooter {
        padding: 2rem;
    }

    
    .pageFooter {
      font-size: 1rem;
      color: $white;
      p {
        margin-bottom: -1rem;
      }
    }
//* Animations *//